* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family:'Courier New', Courier, monospace;
}

.app{
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #113842;
  background: linear-gradient(145deg,rgba(17, 56, 66, 1) 0%, rgba(27, 93, 140, 1) 50%, rgba(31, 37, 43, 1) 100%);
}

.cards-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
  margin-top: 30px;
}